{{#extend "layout"}}
    {{#content "head"}}
        <title>Поиск квеста</title>
    {{/content}}
    {{#content "body"}}
        <h1>Поиск по запросу: {{pattern}}</h1>
        {{#if quests}}
            <table>
                <thead>
                <th>Id</th>
                <th>Name</th>
                <th>AuthorId</th>
                <th>Description</th>
                </thead>
                <tbody>
                {{#quests}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{authorId}}</td>
                        <td>{{description}}</td>
                    </tr>
                {{/quests}}
                </tbody>
            </table>
        {{else}}
            <p>Ничего не найдено</p>
        {{/if}}
    {{/content}}
{{/extend}}
