<div class="quest-info">
    <div class="name">{{name}}</div>
    <div class="info-block">
        {{#if avatar}}
            <img class="avatar" src="{{avatar}}">
        {{else}}
            <p>Нет фото</p>
        {{/if}}
        <div class="stats">
            {{>likes}}
            <br>
            {{>finished}}
        </div>
        <div class="description">{{description}}</div>
    </div>
    <p class="places">Места</p>
    <div class="all-photos">
        {{#images}}
            <img class="photo" src="{{path}}">
        {{/images}}
    </div>
    <h3>Комментарии к квесту</h3>
    <ul>
        {{#questComments}}
            <li>{{userId}} : {{text}}</li>
        {{/questComments}}
    </ul>
</div>
