<div id="resolve-geo" class="resolve-geo">
    <p class="resolve-geo__message">
        Чтобы проходить квест, пожалуйста, разрешите браузеру передавать сведения о вашем местоположении
    </p>
</div>
<div class="quest-info">
    <div class="info-block">
        {{#if avatar}}
            <img class="avatar" alt="Аватар квеста" src="{{avatar}}">
        {{else}}
            <img class="avatar" alt="Нет фото" src="//awesomequests-nikitc.surge.sh/noPhoto.png">
        {{/if}}
        <div class="info">
            <h1 class="name">{{name}}</h1>
            <p class="description">{{description}}</p>
            <div class="stats">
                {{>likes}}
                {{>finished}}
                <div class="author-info">
                    <img class="author-avatar" alt="Аватар" src="{{questAuthor.avatar}}">
                    <span class="name-avatar">{{questAuthor.username}}</span>
                </div>
            </div>
        </div>
    </div>
    <p class="places">Места</p>
    <div id="all-photos" class="all-photos">
        {{#images}}
            <div class="photo-wrapper">
                <img class="photo" src="{{path}}">
            </div>
        {{/images}}
    </div>
    <div id="pop-up-wrapper" class="pop-up-wrapper">
        <img id="pop-up" class="pop-up" src="">
    </div>
    <h3 class="comments-label">Комментарии к квесту</h3>
    {{#if username}}
        <div class="comment-controls">
            <button id="add-comment" type="button" class="add-comment">Добавить комментарий</button>
        </div>
    {{/if}}
    <div id="quest-comments" class="quest-comments">
        {{#if username}}
            <form id="comment-form" class="comment-form quest-comment" method="post" action="/quests/{{id}}/comment" data-quest-id="{{id}}">
                <p class="quest-comment__user"><input class="comment-form__input" name="title" type="text" placeholder="Название" required></p>
                <p class="quest-comment__text"><textarea class="comment-form__input" name="text" placeholder="Текст" required></textarea></p>
                <input class="create-comment" id="create-comment" type="button" value="Создать">
            </form>
        {{/if}}
        {{#if questComments.length}}
            {{#questComments}}
                {{> comment}}
            {{/questComments}}
        {{else}}
            <h3 id="not-found" class="comments-label">Не найдено</h3>
        {{/if}}
    </div>
</div>
