<div id="resolve-geo" class="resolve-geo">
    <p class="resolve-geo__message">
        Чтобы проходить квест, пожалуйста, разрешите браузеру передавать сведения о вашем местоположении
    </p>
</div>
<div class="quest-info">
    <div class="name">{{name}}</div>
    <div class="info-block">
        {{#if avatar}}
            <img class="avatar" alt="Нет фото" src="{{avatar}}">
        {{else}}
            <img  class="avatar" alt="Нет фото" src="//awesomequests-nikitc.surge.sh/noPhoto.png">
        {{/if}}
        <div class="stats">
            {{>likes}}
            <br>
            {{>finished}}
        </div>
        <div class="description">{{description}}</div>
    </div>
    <p class="places">Места</p>
    <div id="all-photos" class="all-photos">
        {{#images}}
            <div class="photo-wrapper">
                <img class="photo" src="{{path}}">
            </div>
        {{/images}}
        <script type="text/javascript" src="//awesomequests.surge.sh/getQuest.bundle.js"></script>
    </div>
    <img class="pop-up" src="">
    <h3>Комментарии к квесту</h3>
    {{#questComments}}
        {{> comment}}
    {{/questComments}}
</div>

<script type="text/javascript">
    var photos = document.getElementsByClassName('photo');
    var popUp = document.getElementsByClassName('pop-up')[0];
    var source;

    for (var i = 0; i < photos.length; i++) {
        photos[i].onclick = function () {
            source = this.getAttribute('src');
            popUp.setAttribute('src', source);
            popUp.style.cssText = "visibility: visible";
        }
    }
    popUp.onclick = function () {
        popUp.style.cssText = "visibility: hidden"
    }
</script>
