<div id="resolve-geo" class="resolve-geo">
    <p class="resolve-geo__message">
        Чтобы проходить квест, пожалуйста, разрешите браузеру передавать сведения о вашем местоположении
    </p>
</div>
<div class="quest-info">
    <div class="name">{{name}}</div>
    <div class="info-block">
        {{#if avatar}}
            <img class="avatar" alt="Нет фото" src="{{avatar}}">
        {{else}}
            <img  class="avatar" alt="Нет фото" src="//awesomequests-nikitc.surge.sh/noPhoto.png">
        {{/if}}
        <div class="stats">
            {{>likes}}
            <br>
            {{>finished}}
        </div>
        <div class="description">{{description}}</div>
    </div>
    <p class="places">Места</p>
    <div id="all-photos" class="all-photos">
        {{#images}}
            <div class="photo-wrapper">
                <img class="photo" src="{{path}}">
            </div>
        {{/images}}
    </div>
    <div id="pop-up-wrapper" class="pop-up-wrapper">
        <img id="pop-up" class="pop-up" src="">
    </div>
    <h3 class="comments-label">Комментарии к квесту</h3>
    <div class="quest-comments">
        {{#if username}}
            <div class="add-quest"></div>
        {{/if}}
        {{#questComments}}
            {{> comment}}
        {{/questComments}}
    </div>
</div>
