<div class="quest-info">
    <div class="name">{{name}}</div>
    <div class="info-block">
        {{#if avatar}}
            <img class="avatar" alt="Нет фото" src="{{avatar}}">
        {{else}}
            <img  class="avatar" alt="Нет фото" src="//awesomequests-nikitc.surge.sh/noPhoto.png">
        {{/if}}
        <div class="stats">
            {{>likes}}
            <br>
            {{>finished}}
        </div>
        <div class="description">{{description}}</div>
    </div>
    <p class="places">Места</p>
    <div class="all-photos">
        {{#images}}
            <img class="photo" src="{{path}}">
        {{/images}}
    </div>
    <img class="pop-up" src="">
    <h3>Комментарии к квесту</h3>
    <ul>
        {{#questComments}}
            <li>{{userId}} : {{text}}</li>
        {{/questComments}}
    </ul>
</div>

<script type="text/javascript">
    var photos = document.getElementsByClassName('photo');
    var popUp = document.getElementsByClassName('pop-up')[0];
    var source;

    for (var i = 0; i < photos.length; i++) {
        photos[i].onclick = function () {
            source = this.getAttribute('src');
            popUp.setAttribute('src', source);
            popUp.style.cssText = "visibility: visible";
        }
    }
    popUp.onclick = function () {
        popUp.style.cssText = "visibility: hidden"
    }
</script>
